<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title> Main page </title>
</head>
<body>
    <h1>Выбор нужного поля</h1>
    <button class="button"><a href="meds" style="color: inherit; text-decoration: none;">Медики</a></button>
    <button class="button"><a href="feldshers" style="color: inherit; text-decoration: none;">Фельдшеры</a></button>
    <button class="button"><a href="drivers" style="color: inherit; text-decoration: none;">Водители</a></button>
    <button class="button"><a href="cars" style="color: inherit; text-decoration: none;">Автомобили</a></button>
    <button class="button"><a href="reports" style="color: inherit; text-decoration: none;">Вызовы</a></button>
    <button class="button"><a href="brigades" style="color: inherit; text-decoration: none;">Бригады</a></button>
</body>
<html>