<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title> Cars </title>
    <style>
        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Автопарк</h1>
    <button class="button"><a href="index" style="color: inherit; text-decoration: none;">Вернуться назад</a></button>

    <h2>Добавить машину</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="action" value="add">
        <input type="submit" value="Добавить">
    </form>

    <br />
    <table>
        <tr>
            <th>Тип</th>
            <th>Номер</th>
            <th>Марка</th>
            <th>Принято</th>
            <th>Списано</th>
        </tr>
        {% for obj in objects %}
        <tr>
            <td>{{ obj.type }}</td>
            <td>{{ obj.number }}</td>
            <td>{{ obj.mark }}</td>
            <td>{{ obj.datestart }}</td>
            <td>{{ obj.dateend }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
<html>