<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title> Main page </title>
</head>
<body>
    <h1>Выбор нужного поля</h1>
    <button class="button"><a href="workers" style="color: inherit; text-decoration: none;">Работники</a></button>
    <button class="button"><a href="all_workers_illness_history" style="color: inherit; text-decoration: none;">История болезней</a></button>
    <button class="button"><a href="cars" style="color: inherit; text-decoration: none;">Автомобили</a></button>
    <button class="button"><a href="reports" style="color: inherit; text-decoration: none;">Вызовы</a></button>
    <button class="button"><a href="brigades" style="color: inherit; text-decoration: none;">Бригады</a></button>
    <button class="button"><a href="statistics" style="color: inherit; text-decoration: none;"> Статистика по бригадам</a></button>
    <button class="button"><a href="fill" style="color: inherit; text-decoration: none;">Заполнить бд</a></button>
</body>
<html>