<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title> Вызовы </title>
    <style>
        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <!-- Подключение библиотеки jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Подключение библиотеки jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!-- Подключение стилей jQuery UI для виджета времени -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
        $(function() {
            // Инициализация виджета времени для полей с классом form-control
            $('.form-control').timepicker({
                timeFormat: 'HH:mm', // Указываем формат времени
                interval: 15, // Интервал времени
                minTime: '00:00', // Минимальное время
                maxTime: '23:45', // Максимальное время
                defaultTime: '00:00', // Время по умолчанию
                startTime: '00:00', // Начальное время
                dynamic: false,
                dropdown: true,
                scrollbar: true
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#date').on('change', function() {
                var selectedDate = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: '/get_brigades/',
                    data: {
                        'selected_date': selectedDate
                    },
                    success: function(response) {
                        // Clear existing options
                        $('#brigade').empty();
                        // Populate options with retrieved data
                        $.each(response.brigades, function(key, value) {
                            $('#brigade').append($('<option></option>').attr('value', key).text(value));
                        });
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>

</head>
<body>
    <h1>Вызовы</h1>
    <button class="button"><a href="index" style="color: inherit; text-decoration: none;">Вернуться назад</a></button>

    <form id="reportForm">
        <div class="form-group">
            <label for="symptom">Symptoms:</label>
            <input type="text" id="symptom" name="symptom">
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="adress">Address:</label>
            <input type="text" id="adress" name="adress">
        </div>
        <div class="form-group">
            <label for="date">Execution Date:</label>
            <input type="date" id="date" name="date">
        </div>
        <div class="form-group">
            <label for="brigade">Brigade:</label>
            <select id="brigade" name="brigade">
                <!-- Brigade options will be populated dynamically -->
            </select>
        </div>
        <div class="form-group">
            <label for="result">Diagnosis:</label>
            <select id="result" name="result">
                <option value="умер">умер</option>
                <option value="везем в больницу">везем в больницу</option>
                <option value="оказано лечение">оказано лечение</option>
            </select>
        </div>
        <div class="form-group">
            <label for="timestart">Start Time:</label>
            <input type="time" id="timestart" name="timestart">
        </div>
        <button type="submit">Submit</button>
    </form>

    <h2> Поиск по годам</h2>
    <form method="GET">
        {%  csrf_token %}
        <input type="number" name="search" value="{{ search_query }}">
        <button type="submit">Поиск</button>
    </form>

    <br />
    <table>
        <tr>
            <th>Имя</th>
            <th>Адресс</th>
            <th>Симптомы</th>
            <th>Бригада</th>
            <th>Результат</th>
            <th>Время начала</th>
            <th>Год исполнения</th>
        </tr>
        {% for obj in objects %}
        <tr>
            <td>{{ obj.name }}</td>
            <td>{{ obj.adress }}</td>
            <td>{{ obj.symptom }}</td>
            <td>{{ obj.brigade }}</td>
            <td>{{ obj.result }}</td>
            <td>{{ obj.timestart }}</td>
            <td>{{ obj.date }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
<html>