<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title> Работники </title>
    <style>
        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Работники</h1>
    <button class="button"><a href="index" style="color: inherit; text-decoration: none;">Вернуться назад</a></button>


    <br />
    <table>
        <tr>
            <th>Имя</th>
            <th>Статус</th>
            <th>Дата начала работы</th>
            <th>Дата окончания работы</th>
        </tr>
        {% for worker in objects %}
        <tr>
            <td>{{ worker.name }}</td>
            <td>{{ worker.status }}</td>
            <td>{{ worker.startwork }}</td>
            <td>{{ worker.endwork }}</td>
        </tr>
        {% endfor %}
    </table>
    
    
    
</body>
<html>